div {
    height: 200px;
    width: 200px;
    text-align: center;
    border: 1px solid black;
    margin: 10px; 
}

#alfa {
    background-color: rgba(255, 0, 0, 0.194);
    /* we set alfa channel 0 so div is invisible but heading which is in the div is visible means alfa only manupulate color */
    transition-duration: 2s;
}

#opacity {
    background-color: #ffa511;
    opacity: 1;
    /* if we set opacity 0 so heading and div also are invisible */
    transition: background-color 2s ease 0s;
    transition: border-radius 2s ease 0s;
}

#alfa:hover {
    background-color: black;
}

/* transition shorthand */
/* property name | duration | timing function | delay */

#opacity:hover {
    background-color: black;
    border-radius: 50%;
}

/* transform */
#rotate {
    background-color: lightblue;
    transform: rotate(45deg);
}

#scale {
    background-color: lightgreen;
    transform: scale(2, 0.5); /* scale (x, y),  scaleX(1.5)*/ 
}

#translate {
    background-color: lightcoral;
    transform: translate(50px, 100px);  /*translate(1.5) */
}

#skew {
    background-color: lightpink;
    transform: skew(20deg, 10deg); /*skewX(20deg)*/
}
/* trnasform: rotate(30deg) translateX(150px) */

#shadow {
    box-shadow: 2px 2px 10px green; /* x y blurness color */
    background-image: url("https://thumbs.dreamstime.com/b/severed-chain-5401206.jpg");
    background-size: cover;
}

 /* position */

#static {
    background-color: yellow;
    position: static;
    top: 100px;
    left: 100px;
    /* not apply top left z index etc div place on its given position */
}

#relative {
    background-color: yellow;
    position: relative;
    top: 100px;
    left: 100px;
    /* change their position according to itself */
    /* and give space for second element   */
    z-index: -1;
    /* z-index not apply on static or default position and for z-index position required */
}

#absolute {
    background-color: yellow;
    position: absolute;
    top: 100px;
    left: 100px;
    /* change position according to in their parent position */
    /* and not give space for second element means if second element shift other position third place on second's place */
}

/* fixed we apply so when we scroll page box fix its position and not go to outside from screen */